* { margin: 0; padding: 0; box-sizing: border-box; 
}
#hero {
    border-bottom: 1px solid #1e1e1e;
    font-family: 'Cormorant Garamond', serif;
    color:floralwhite;
    font-size: 50px;
    font-weight: 800;
}
.hero-heading{
    line-height: 1.1;
    padding: 64px 48px;
}
.hero-welcome{
    font-size:10px;
    color: rgb(52, 52, 52);
    font-family: Inter;
    font-weight: 120;
    letter-spacing: 2px;
    padding: 64px 48px;
    margin-bottom: -110px;
}
#latest-reviews {
    border-bottom: 1px solid #1e1e1e;
}
#dev-log {
    border-bottom: 1px solid #1e1e1e;
}
#about-strip {
    border-bottom: 1px solid #1e1e1e;
}